.hero {
  background-image: url(/images/adam-dan-yohanna/bg-hero-mobile.png);
}

.profile {
  background-image: url(/images/adam-dan-yohanna/bg-profile-mobile.png);
}

.counting-down {
  background-image: url(/images/adam-dan-yohanna/bg-counting-down-mobile.png);
}

.location {
  background-image: url(/images/adam-dan-yohanna/bg-location-mobile.png);
}

.gallery {
  background-image: url(/images/adam-dan-yohanna/bg-gallery-mobile.png);
}

.reservation {
  background-image: url(/images/adam-dan-yohanna/bg-rsvp-mobile.png);
}

.wedding-gift {
  background-image: url(/images/adam-dan-yohanna/bg-wedding-gift-mobile.png);
}

.wishes {
  background-image: url(/images/adam-dan-yohanna/bg-wishes-mobile.png);
}

.footer {
  background-image: url(/images/adam-dan-yohanna/bg-footer-mobile.png);
}