.hero {
  background-image: url(/images/adam-dan-yohanna/bg-hero-mobile.png);
}

.profile {
  background-image: url(/images/adam-dan-yohanna/bg-profile-mobile.png);
}

.counting-down {
  background-image: url(/images/adam-dan-yohanna/bg-counting-down-mobile.png);
}